.gradle
build/
lib/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### build JNI ###
modules/libraries/core/generated/headers
modules/libraries/core/generated/box2d

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### box2d ###
modules/libraries/bindings/c/build/
modules/libraries/bindings/c/extern/

### box2d-jni ###
modules/libraries/bindings/c/include/box2d/
modules/libraries/bindings/downloads